@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Formulaire */

body{
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background:#0f0f0f;
}

form {
  background: linear-gradient(147deg, #222222c8 18%, #00000079 80%);
  box-shadow: 0px 0px 20px rgba(196, 195, 195, 0.2);
  border-radius: 10px;
  padding: 100px;
  margin-top: 60px;
}

form h1{
  color: #ffffff;
  text-align:center;
}


form .inputs {
  display: flex;
  flex-direction: column;
}

form .inputs input[type='text']{
  padding: 15px;
  border:none;
  border-radius: 5px;
  background-color:#f2f2f2;
  outline:none;
  margin-bottom: 25px;
  }

.critères{
	padding: 15px;
	border:none;
	border-radius: 5px;
	background-color:#f2f2f2;
	outline:none;
	margin-bottom: 25px;
}

.inscription{
  text-align: center;
  font-size: 14px;
  color: #505050;
}

form button{
  padding: 15px 25px;
  margin-top: 20px;
  border-radius: 5px;
  border:none;
  font-size: 15px;
  color: #fff;
  background: linear-gradient(147deg, #0072ff 9%, #190eb479 80%, #19191a79);
  box-shadow: 0px 0px 20px rgba(245, 245, 245, 0.2);
  outline:none;
  cursor:pointer;
}

.Mail{
  text-decoration: none;
  color: #0072ff
}


/* background */


.background span {
	position: fixed;
	bottom: -180px;
	height: 50px;
	width: 50px;
	z-index: -1;
	background-color: #18191f;
	box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
	animation: animate 9s linear infinite;
}

.background span:nth-child(1) {
	left: 60px;
	animation-delay: 0.6s;
}

.background span:nth-child(2) {
	left: 10%;
	animation-delay: 3s;
	width: 15px;
	height: 15px;
}

.background span:nth-child(3) {
	left: 20%;
	animation-delay: 2s;
}

.background span:nth-child(4) {
	left: 30%;
	animation-delay: 5s;
	width: 15px;
	height: 15px;
}

.background span:nth-child(5) {
	left: 40%;
	animation-delay: 1s;
}

.background span:nth-child(6) {
	left: 50%;
	animation-delay: 7s;
}

.background span:nth-child(7) {
	left: 60%;
	animation-delay: 6s;
	width: 16px;
	height: 20px;
}

.background span:nth-child(8) {
	left: 70%;
	animation-delay: 8s;
}

.background span:nth-child(9) {
	left: 80%;
	animation-delay: 6s;
	width: 25px;
	height: 25px;
}

.background span:nth-child(10) {
	left: 90%;
	animation-delay: 4s;
}

.banner {
	margin-top: 100px;
	height: 100vh;
}

@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	80% {
		opacity: .7;
	}
	100% {
		transform: translateY(-600px) rotate(360deg);
		opacity: 0;
	}
}