<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for( 'static', filename='nouveau-Mail.css' ) }}" />
    <title>Document</title>
</head>
<body>

    <!-- background -->
    <div class="background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Formulaire -->
    <form action="{{ url_for('save_name') }}" method="post">
        <h1>J'enregistre mon Mail</h1>
        <div class="inputs">
          <input type="text" name="prenom" placeholder="Prénom" />
          <input type="text" name="nom" placeholder="Nom">
          <input type="text" name="email" placeholder="Email" />
          <input type="text" name="adresse" placeholder="Adresse">
          <input type="text" name="ville" placeholder="Ville" />
          <input type="number" name="codepostal" placeholder="Code postal">
        </div>

        <!-- Paragraphe avec lien -->
        <!--p class="inscription">Je recherche un<span><a class="Mail" href="recherche-Mail.html">&ensp;Mail</a></span></p-->

        <p class="inscription">Je recherche un<span><a class="Mail" href='{{ url_for("new_recherche") }}'>&ensp;Mail</a></span></p>
        <!-- Bouton -->
        <div aligne="center">
          <button type="submit">Se connecter</button>
        </div>
      </form>

</body>
</html>